.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid transparent;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border-color: $colortheme;
    }

    .list-item-icon {
      flex-basis: 100px;
      padding-right: 20px;
      font-size: 2rem;
      color: #e6007e;//$colortheme;
    }

    .list-post-title {
      font-size: 22px;
      transition: .3s;
      color: $colortheme;
    }
    .list-post-description {
      font-size: 16px;
      color: #515151;
    }

    .list-post-written {
      color: #515151;
      span {
        font-weight: bold

      }
    }

    small {
      font-size: 12px;
      opacity: .7
    }
}

.list-item-2 {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.03);
  background: white;
  border: 2px solid #eef4f8;
  padding: 40px;
  box-sizing: border-box;
  transition: .3s;
  //margin-bottom: 10px;
  overflow: hidden;
  &:hover {
    border-color: white;//$colortheme;
    .list-post-title {
      color: $colortheme;
    }    
  }

  .list-item-2-img {
    margin-right: 20px;
      @media screen and (max-width: 839px) {
        margin-right: 0;
        margin-top: 20px;
      }
   }

}

.list-item-3 {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 2px solid #eef4f8;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: .3s;
  overflow: hidden;
  cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      border-color: $colortheme;
    }

    .list-item-icon {
      flex-basis: 100px;
      padding-right: 20px;
      font-size: 2rem;
      color: #e6007e;
    }

    .list-post-title {
      font-size: 18px;
      transition: .3s;
      color: #e6007e;
    }
    .list-post-description {
      font-size: 16px;
      color: #515151;
    }

    .list-post-written {
      color: #515151;
      float: left;
      span {
        font-weight: bold

      }
    }

    small {
      font-size: 12px;
      opacity: .7
    }

    .list-item-3-img{
      width: 32px;
      height: 32px;
      vertical-align: bottom;
      border-radius: 50%;
      box-shadow: 0 0 0 2px white;
      position: relative;
      z-index: 4; 
      float: left;
      margin-right: 10px;   
    }
}