---
layout: default
---
{% include minutes-to-read.html %}

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.title }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <time>{{ page.date | date_to_string }}</time>
      <span class="reading-time" title="Estimated read time"> - {{ minutesText }}</span>
    </div>
    <!-- titles -->

    <!-- content -->
    <!-- {{ content }}
    <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
      <img src="{{ site.baseurl }}/assets/img/getting_started/image1.png" width="100%" alt="">
    </div>  -->
    <!-- content -->

    <!-- posts -->
    <div class="margin-top-20 margin-bottom-50">      
      {% for x in page.paragraphs %}
      <a href="/altilia-help-center/getting_started/" class="list-item-3 container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">
        <div class="container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
          <div class="flex-basis-400 flex-grow-5">
            {% if x.paragraph_title %}
            <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <h2 class="list-post-title">
              {{x.paragraph_title}}
              </h2>
            </div>
            {% endif %}
            <div>
              {% if x.image %}
              <div class="list-item-3-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                <img src="{{ site.baseurl }}/assets/img/manual_index/{{ x.image }}" width="100%" alt="">
              </div>
              {% endif %}
              <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
                <small>Written by <span>{{ x.by }}</span> -</small>
                <small><time>{{ x.date | date_to_string }}</time></small>
              </div>
            </div>
          </div>        
        </div>
      </a>      
      {% endfor %}
    </div>
    <!-- posts -->

  </article>
</div>
